<ul class="list-group list-style-none">
    {% for link in items %}



            {% if isProduct %}
                <li>

                    {% if link.is_offer == true %}

                        <a
                                class="list-group-item border-0 p-0 small"
                                href="{{ path('products-product:user.model', {
                                    'category': link.category_url,
                                    'url': link.url
                                }) }}"
                        >
                            {{ link.name | raw }}
                        </a>

                    {% else %}

                        <a
                                class="list-group-item border-0 p-0 small"
                                href="{{ path('products-product:user.detail', {
                                    'category': link.category_url,
                                    'url': link.url
                                }) }}"
                        >
                            {{ link.name | raw }}
                        </a>

                    {% endif %}
                </li>
            {% else %}

                <li>
                    <a
                            class="list-group-item border-0 p-0 small"
                            href="{{ path('products-product:user.catalog.category', {'category': link.url}) }}"
                    >
                        {{ link.name }}
                    </a>
                </li>

            {% endif %}


    {% endfor %}

</ul>