{% trans_default_domain 'search' %}

<div class="input-group">
    {{ form_start(baks_search_form) }}

    <div class="input-group">
        {{ form_widget(baks_search_form.query, { attr: {
            class : 'form-control border-end-0 ',
            style : 'height: 32px; font-size:10px;',
            autocomplete: "off"
        } }) }}

        <button
                class="input-group-text bg-transparent"
                type="submit"
                aria-label="Поиск"
                style="top: -4px !important;"
        >

            <svg id="search_icon" class="bi bi-search" xmlns="http://www.w3.org/2000/svg" width="10" height="10"
                 fill="currentColor" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"></path>
            </svg>

        </button>

    </div>


    <input type="hidden" name="token" value="{{ csrf_token('search') }}"/>

    {# Search results #}
    <span id=search_spiner class="spinner-border spinner-border-sm text-secondary d-none" role=status
          style="position: absolute;
                        right: 0.75rem;
                        top: 30%;">
                    <span class=visually-hidden>{{ 'search_results.loading_text'|trans }}</span>
                </span>

    {{ form_end(baks_search_form) }}

    <section class="dropdown mt-1 w-100" id="search_results_dropdown">
        <h3 class="d-none">{{ 'search_results.title'|trans }}</h3>
        <ul id="search_result" class="dropdown-menu border-light w-100 p-1">
        </ul>
    </section>

</div>