{# @var product \BaksDev\Products\Product\Repository\Cards\ProductCardResultInterface #}

{% set addFavorite = true %}

{# Обложка продукта #}
{% set image_path = '/assets/img/blank.svg' %}
{% if product.productImages is not null %}
    {% set image = product.productImages|first %}
    {% set image_path = cdn_image_path(image.img, image.img_ext, image.img_cdn) %}
{% endif %}

{# Персональная скидка #}
{% set price = user_profile_discount(product.productPrice) ?: product.productPrice %}

{% set oldPrice = user_profile_discount(product.productOldPrice) ?: product.productOldPrice %}

{# {% if product.modificationAgg|json_decode|first is not null %} #}
{#    {% set card_postfix = product.modificationAgg|json_decode|first.modification_postfix %} #}

{#    {% set card_modification = product.modificationAgg|json_decode|first.modification_id %} #}
{#    {% set card_variation = product.variationAgg|json_decode|first.variation_id %} #}
{#    {% set card_offer = product.offerAgg|json_decode|first.offer_id %} #}

{# {% elseif product.variationAgg|json_decode|first is not null %} #}
{#    {% set card_postfix = product.variationAgg|json_decode|first.variation_postfix %} #}

{#    {% set card_variation = product.variationAgg|json_decode|first.variation_id %} #}
{#    {% set card_offer = product.offerAgg|json_decode|first.offer_id %} #}

{# {% elseif product.offerAgg|json_decode|first is not null %} #}
{#    {% set card_postfix = product.offerAgg|json_decode|first.offer_postfix %} #}

{#    {% set card_offer = product.offerAgg|json_decode|first.offer_id %} #}

{# {% endif %} #}


{# Путь карточки #}
{# {% set card_url = path('products-product:user.detail', { #}
{#    category : product.categoryUrl, #}
{#    url : product.productUrl, #}
{#    offer: product.productOfferValue, #}
{#    variation: product.productVariationValue, #}
{#    modification: product.productModificationValue, #}
{#    postfix: card_postfix, #}
{# }) %} #}

{# Название карточки #}
{% set card_name %}

    {# Название продукта #}
    {{ product.productName }}
    <br>

    {# Значение множественного варианта ТП #}
    {#    {{ product.productVariationValue|call_twig_func(product.productVariationReference~'_render') ~#}
    {#    product.productModificationValue|call_twig_func(product.productModificationReference~'_render') }} #}

    {# Значение торгового предложения #}
    {#    {{ product.productOfferValue|call_twig_func(product.productOfferReference~'_render') }} #}

    {# Постфикс #}
    {#    {{ card_postfix|replace({ '/': '-' }) }} #}
{% endset %}



    <div class="card border-0 p-2 positiom-relative">

        {# Изображение продукта #}
        <img class="card-img-top rounded-4 lazy" style="height: 140px;" data-src="{{ image_path }}"
             alt="Изображение товара 2">

        <div class="card-body pb-1 px-0">

            <div class="d-flex justify-content-between">

                <h3 class="card-title" style="font-size: 12px">
                    <a class="card-title fs-6 text-decoration-none"
                       href="{{ path('products-product:user.detail', { category: product.categoryUrl, url: product.productUrl, offer: product.productOfferValue, variation: product.productVariationValue, modification: product.productModificationValue, postfix: (product.productModificationPostfix ?: product.productVariationPostfix ?: product.productOfferPostfix ?: null )|replace({ '/': '-' }), }) }}">
                        {{ product.productName }}
                    </a>
                </h3>

                <div class="position-relative" style="z-index: 1024;">
                    {# Для страницы избранного - кнопка удаления, для остальных страниц - кнопка добавить в избранное #}
                    {% if app.request.attributes.get('_route') == 'products-favorite:public.index' %}

                        {% set addFavorite = false %}
                        {% include Template('@products-product/share/big_button.html.twig') with { form : forms[product.productInvariableId|trans], product } only %}
                    {% endif %}
                    {% if addFavorite %}
                        {{ render_favorite_button(product.productInvariableId) }}
                    {% endif %}
                </div>

            </div>


            <div class="d-flex align-items-center gap-2 mb-2 position-relative">

                {% if oldPrice.value %}

                    <p class="card-text text-secondary fs-11 m-0 fw-bold lh-1 text-center">
                        <del>{{ money(oldPrice, product.productCurrency) }}</del>
                    </p>

                {% endif %}


                {% if product.productQuantity > 0 %}
                    <div class="d-flex align-items-center gap-2">

                        <p class="card-text fs-5 m-0 kitchen-card-text-price">
                            <strong>
                                {{ money(price, product.productCurrency) }}
                            </strong>
                        </p>
                    </div>
                {% endif %}

            </div>


            <div class="d-flex justify-content-between align-items-baseline">

                {% if product.productQuantity == true or product.productQuantity > 0 %}
                    <span class="d-block px-2 fs-11 text-success mb-2">
					&#9675; Есть в наличии
                    </span>
                {% else %}
                    <span class="d-block px-2 fs-11 text-danger mb-2">
                        &#9675; Нет в наличии
                    </span>
                {% endif %}
            </div>

        </div>

    </div>

