<header class="container p-0 mb-3">
    <div class="d-flex align-items-center justify-content-between p-2">

        <div class="d-flex align-items-center">
            <svg class="bi bi-geo-alt" xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" viewBox="0 0 16 16">
                <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10"></path>
                <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6"></path>
            </svg>
            <select class="form-select form-select-sm border-0 text-decoration-underline" aria-label="Выбор города">
                <option selected>Москва</option>
                {% set total_items = 20 %}
                {% for i in 0..total_items %}
                    <option value="{{i + 1}}">Город {{ i + 1}}</option>
                {% endfor %}
            </select>
        </div>

        <a href="{{ path('core:user.homepage') }}" style="width: 180px; height: auto;">
                <img class="w-100" src="/assets/comfort/img/logo.png" alt="Логотип компании">
        </a>

        <div class="d-flex justify-content-between align-items-center gap-3">

                <a class="link-dark" href="#" aria-label="Иконка Телефон">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                         <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                    </svg>
                </a>

                <a class="link-dark" href="{{ path('products-favorite:public.index') }}" aria-label="Иконка Избранное">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                    </svg>
                </a>
                <a class="link-dark" href="{{ path('orders-order:user.basket') }}" aria-label="Иконка Корзина">
                    <svg class="bi bi-bag" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"></path>
                    </svg>
                </a>
            {% if app.user %}


                {% if baks_profile is defined %}

                    {{ include(_self|replace({ "header.html.twig" : "includes/user_menu.html.twig" })) }}

                {% else %}

                    <div class="icon rounded-circle bg-contain lazy p-1" data-bg="/assets/white-sign/img/logo_user.png" style="width: 40px; height: 40px;"></div>

                    <div class="m-0 fw-bold text-black">
                        <a href="{{ path('auth-email:user.logout') }}" class="m-0 fw-bold text-black">
                            Выйти
                        </a>
                    </div>

                {% endif %}

            {% else %}

                <a class="link-dark" data-href="{{ path('auth-email:user.login') }}" data-bs-toggle="modal" data-bs-target="#modal" title="Авторизация" aria-label="Икона личного кабинета" role="button">
                    <svg class="bi bi-key" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8m4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5"></path>
                        <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0"></path>
                    </svg>
                </a>
            {% endif %}
        </div>
    
    </div>

    <hr class="mt-0 mb-3">
    {# navbar #}
    {% include Template('public/'~baks_settings.device~'/includes/navbar/navbar.html.twig')  %}

    {% include Template('public/'~baks_settings.device~'/includes/navbar/mobile-menu.html.twig')  %}

</header>

<dialog id="searchModal" class="scroll-none comfort">

    {# <div class="sticky-top border-1 border-top border-bottom">
		{% if baks_search_form is defined and app.request.attributes.get('_route') != 'search:user.search' %}
			{{ include(_self|replace({ "header.html.twig" : "/includes/search_form.html.twig" })) }}
		{% endif %}
	</div> #}
    <div>
        <div id="search_result" class="p-2"></div>
    </div>

</dialog>

