{% trans_default_domain 'search' %}

<div class="input-group" style="width: 300px; ">
    {{ form_start(baks_search_form) }}

        {{ form_widget(baks_search_form.query, { attr: {
            class : 'form-control border-end-0 ',
            style : 'height: 30px; font-size:10px;',
            autocomplete: "off"
        } }) }}


{#    <span class="input-group-text bg-transparent">#}
{#                    <svg class="bi bi-search" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" viewBox="0 0 16 16">#}
{#                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"></path>#}
{#                    </svg>#}
{#                </span>#}


            <button
                    class="btn position-absolute top-0 end-0"
                    type="submit"
                    aria-label="Поиск"
                    style="top: -4px !important;"
            >
{#                <svg id="search_icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16"#}
{#                     fill="currentColor"#}
{#                     class="bi bi-search text-secondary" viewBox="0 0 16 16">#}
{#                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>#}
{#                </svg>#}

                <svg id="search_icon" class="bi bi-search" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"></path>
                </svg>

            </button>

        <input type="hidden" name="token" value="{{ csrf_token('search') }}"/>
        {#                             <button type="submit" class="btn btn-primary btn-lg round-ignore has-ripple">Найти</button> #}



    {# Search results #}
    <span id=search_spiner class="spinner-border spinner-border-sm text-secondary d-none" role=status
          style="position: absolute;
                        right: 0.75rem;
                        top: 30%;">
                    <span class=visually-hidden>{{ 'search_results.loading_text'|trans }}</span>
                </span>

{#    <section class="dropdown mt-1 w-100">#}
{#        <h3 class="d-none">{{ 'search_results.title'|trans }}</h3>#}
{#        <ul id="search_result" class="dropdown-menu border-light w-100 p-1">#}
{#        </ul>#}
{#    </section>#}


    {{ form_end(baks_search_form) }}

    <section class="dropdown mt-1 w-100" id="search_results_dropdown">
        <h3 class="d-none">{{ 'search_results.title'|trans }}</h3>
        <ul id="search_result" class="dropdown-menu border-light w-100 p-1">
        </ul>
    </section>


</div>