{# {{ include(_self|replace({ "content.html.twig": "header.html.twig" })) }} #}

{% set arr_property = card.categorySectionField %}

<main class="main d-print-none">

    <section id="card" class="container pb-2">

        {# КАРУСЕЛЬ ФОТО #}
        {{ include(_self|replace({ "content.html.twig": "photo.html.twig" })) }}

        <div class="d-flex align-items-center justify-content-between">
            <h1 class="fs-4 mb-1">
                {{ card.productName }}

                {# Значение множественного варианта ТП #}
                {{ card.productVariationValue|call_twig_func(card.productVariationReference~'_render') ~
                card.productModificationValue|call_twig_func(card.productModificationReference~'_render') }}

                {# Значение торгового предложения #}
                {{ card.productOfferValue|call_twig_func(card.productOfferReference~'_render') }}

                {# Постфикс торгового предложения #}
                {{ card.productOfferPostfix }}
                {# Постфикс множественного варианта #}
                {{ card.productVariationPostfix }}
                {# Постфикс модификации #}
                {{ card.productModificationPostfix }}

                {# Свойства, учавствующие в названии #}
                {% for name_property in arr_property | filter(props => props.field_name == true) %}
                    {{ name_property.field_value|call_twig_func(name_property.field_type) }}
                {% endfor %}
            </h1>

            {# В избранное #}
            {{ render_favorite_button(card.productInvariableId) }}

        </div>

        <div>

            <div class="d-flex gap-3">

                {% if card.productQuantity %}
                    <span class="text-success fw-bolder mb-3" style="font-size: 10px;">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-check-lg" viewBox="0 0 16 16"><path
                                d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"></path></svg>

					В наличии</span>
                    <span class="text-muted" style="font-size: 10px;">
                        {% if card.productQuantity > 20 %}
                            <span class="text-muted">Более 20 шт.</span>
                        {% else %}
                            <span class="text-warning">Менее 20 шт.</span>
                        {% endif %}
				    </span>
                {% else %}
                    <span class="text-danger fw-bolder mb-3" style="font-size: 10px;">
					<svg xmlns="http://www.w3.org/2000/svg" width="7" height="7" fill="currentColor"
                         class="bi bi-circle-fill me-1" viewBox="0 0 16 16">
						<circle cx="8" cy="8" r="8"/>
					</svg>

					Нет в наличии
				</span>
                {% endif %}


            </div>


        </div>


        {{ include(_self|replace({ "content.html.twig": "_order.html.twig" })) }}

        {# Характеристики #}
        <h3 class="fw-bold mb-3" style="font-size: 14px;">
            Основные характеристики
        </h3>
        <div class="row">
            <div class="col-7 small fw-medium">
                {% if card.productOfferValue is defined %}
                    <p class="mb-1">
                        Модель
                    </p>
                    <p class="mb-1">
                        {{ card.productOfferName }}
                    </p>
                {% endif %}
                {# Свойства, учавствующие в харкатеристиках #}
                {% for name_property in  arr_property | filter(props => props.field_public is defined and props.field_public == true  and props.field_value and props.field_value != 'false') %}
                    <p class="w-50">
                        {{ name_property.field_trans }}
                    </p>
                {% endfor %}
            </div>
            <div class="col small">
                {% if card.productOfferValue is defined %}
                    <p class="mb-1">
                        <a href="{{ path('products-product:user.model', { category: card.categoryUrl, url: card.productUrl }) }}"
                           class="text-muted"
                           aria-label="{{ card.productName }}"
                           title="{{ card.productName }}">
                            {{ card.productName }}
                        </a>
                    </p>
                    <p class="mb-1">
                        {{ card.productOfferValue|call_twig_func(card.productOfferReference~'_render') }}
                    </p>
                {% endif %}
                {# Свойства, учавствующие в харкатеристиках #}
                {% for name_property in  arr_property | filter(props => props.field_public is defined and props.field_public == true  and props.field_value and props.field_value != 'false') %}
                    <p class="w-50 d-flex gap-3 align-items-start">
                        {{ name_property.field_value|call_twig_func(name_property.field_type~'_render') }}
                    </p>
                {% endfor %}
            </div>
        </div>
        <hr>

        {# Кнопка в корзину #}
        <div class="mb-2 text-center">
            <a class="col-12 btn btn-dark fw-medium mb-1"
               data-bs-toggle="modal"
               data-bs-target="#modal"
               href="{{ path('orders-order:user.add', {
                   product: card.productEvent,
                   offer : card.productOfferUid,
                   variation : card.productVariationUid,
                   modification : card.productModificationUid
               }) }}">
                Купить
            </a>
        </div>


    </section>


    <section id="tablist">
        {{ include(_self|replace({ "content.html.twig": "tablist.html.twig" })) }}
    </section>

    <section class="container shadow ">

        <div class="pt-4 px-2">
            <h2 class="text-uppercase h5 fw-bolder">Альтернатива</h2>
        </div>

        <div class="small mb-5">
            {{ include(_self|replace({ "content.html.twig": "alternative.html.twig" })) }}
        </div>

        <br>

    </section>

    {# АКЦИИ \ СКИДКИ #}
    {# <section id="action" class="pt-3">

		<div class="d-flex flex-nowrap gap-3 overflow-auto w-100 p-3">
			{% for i in 0..5 %}
				{{ include(_self|replace({ "content.html.twig": "action.html.twig" })) }}
			{% endfor %}
		</div>

	</section> #}

    {# ПРОСМОТРЕННЫЕ #}
    {# <section id="viewed" class="mt-4 bg-light">
		<div class="container p-4">
			<h2 class="text-uppercase me-4 h5 fw-bolder">Просмотренные</h2>
		</div>

		<div class="d-flex flex-nowrap gap-4 overflow-auto w-100 px-4 pb-3">
			{% for i in 0..5 %}
				{{ include(_self|replace({ "content.html.twig": "viewed.html.twig" })) }}
			{% endfor %}
		</div>
	</section> #}


    {# ОТЗЫВЫ #}

    {# <section id="reviews" class="container bg-white pb-3">

		<div class="container d-flex justify-content-between align-items-stretch py-4">

			<div class="lh-normal small">
				<h2 class="text-uppercase me-4 h6 fw-bolder m-0">отзывы</h2>
				<a href="#" class="small">12 отзывов</a>
			</div>

			<button type="button" class="btn btn-sm btn-primary rounded-3"
					aria-label="Оставить отзыв"
			>
				<span class="text-uppercase fw-bolder">Оставить отзыв</span>
			</button>
		</div>

		<div class="bg-light rounded-4 px-2 py-1">
			{{ include(_self|replace({ "content.html.twig": "reviews.html.twig" })) }}
		</div>
	</section> #}


</main>




