{% trans_default_domain 'search' %}

<nav class="d-flex align-items-center gap-2 py-2" style="--bs-breadcrumb-divider: '-';" aria-label="breadcrumb">
    <ol class="breadcrumb m-0" style="font-size: 12px;">

        <li class="breadcrumb-item">
            <a href="{{ path('core:user.homepage') }}"
               class="text-secondary text-decoration-none"
               aria-label="{{ 'breadcrumb.homepage.user'|trans({}, 'core') }}"
               title="{{ 'breadcrumb.homepage.user'|trans({}, 'core') }}">
                {{ 'breadcrumb.homepage.user'|trans({}, 'core') }}
            </a>
        </li>


        <li class="breadcrumb-item active" aria-current="page"
            aria-label="{{ 'breadcrumb.label'|trans }}"
            title="{{ 'breadcrumb.title'|trans }}">
            {{ 'breadcrumb.title'|trans }}
        </li>
    </ol>
</nav>


